<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body data-ng-app="app" data-ng-controller="AppController">

<div><input type="radio" data-ng-model="kindOfPromise" value="value">value</div>
<div><input type="radio" data-ng-model="kindOfPromise" value="promiseInFuture">promiseInFuture</div>
<div><input type="radio" data-ng-model="kindOfPromise" value="oldPromise">oldPromise</div>
<button data-ng-click="run()">Run</button>
<button data-ng-click="esche()">Check last promise</button>

<script src="../bower_components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>