
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body data-ng-app="app" data-ng-controller="AppController">

<input type="text" data-ng-model="url" style="width: 50%;">
<button data-ng-click="run()">Check sugar</button>
<button data-ng-click="run2()">Check pure promise</button>

<script src="../bower_components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>