<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body data-ng-app="app" data-ng-controller="AppController">

<input placeholder="reason" data-ng-model="reason">
<button data-ng-click="resolve()">Resolve</button>
<button data-ng-click="reject()">Reject</button>

<script src="../bower_components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>