<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body data-ng-app="app" data-ng-controller="AppController">

<button data-ng-click="run()">Simple Finally</button>
<button data-ng-click="run2()">Try to change data from Finally</button>
<button data-ng-click="run3()">Try to reject from Finally</button>

<script src="../bower_components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>